*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #555;
	height: 150vh;
}
.nav{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 8px;
	background-color: white;
	z-index: 1;
}
.nav .nav-logo{
	display: flex;
	justify-content: center;
	width: 15%;
	font-weight: 900;
	font-size: 20px;
	background-color: #3e628f;
	border-radius: 40px;
	padding: 8px;
	font-size: 20px;
	letter-spacing: 8px;
}
.nav .nav-logo span{
	color: red;
	font-size: 24px;
	font-style: italic;
}
.form{
	display: flex !important;
	background-color: white !important;
	margin-left: 24px !important;
	width: 100% !important;
	max-width: 360px !important;
	padding: 4px 8px !important;
	border: 1px solid #555 !important;
	border-radius: 24px !important;
}
.form input{
	flex: 1 !important;
	border: none !important;
	outline: none !important;
	background-color: white !important;
}
.form button{
	background: transparent !important;
	border: none !important;
	font-size: 16px !important;
}
.account{
	margin-left: 24px;
	background: transparent;
}
.dropbtn {
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: transparent;
  }
  .dropbtn:hover{
	  color: red;
  }
  .dropdown {
	position: relative;
	display: inline-block;
	border-radius: 8px;
  }
  .dropdown-content {
	display: none;
	position: absolute;
	padding: 0 16px;
	background-color: white;
	transform: translate(-10%);
	z-index: 1;
  }
  .dropdown-content .active{
	  background-color: orangered;
	  justify-content: center;
	  margin-top: 8px;
	  border-radius: 8px;
	  padding: 4px;
  }
  .dropdown-content a {
	color: black;
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 8px 24px;
	font-size: 12px;
  }
  .show{
	  display: flex;
	  flex-direction: column;
  }
  .nav .cart{
	  margin-left: 32px;
	  cursor: pointer;
  }
  .nav .cart:hover{
	  color: red;
  }

/*body section*/
.body-content{
	width: 75%;
	margin: auto;
}
.header-section{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: wheat;
	height: 40vh;
	padding-top: 20px;
}
.container{
	background-color: #eeeeee;
}
.container .containers{
	padding-top: 32px;
	border-bottom: 5px solid #fff;
}
.container .containers h2{
	text-align: center;
	font-size: 24px;
	font-weight: 900;
}
.container .containers .headings{
	margin: 24px 0px 0px 24px;
}
.watch-section{
	overflow: hidden;
}

.container .containers .watch-section .items{
	display: flex;
	gap: 8px;
	width: 350%;
	position: relative;
	padding: 20px;
	border-radius: 40px;
	transition: 1s ease-in-out;
}
.watch-section .arrows{
	position: relative;
	text-align: center;
	margin-bottom: 8px;
	cursor: pointer;
	font-size: 24px;
}
.watch-section .arrows p{
	word-spacing: 16px;
}

.product{
	padding: 10px;
	transition: all 0.4s ease-in-out;
	width: 200px; 
	height: 100%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.product:hover{
	transform: scale(1.1);
}
.product img{
	width: 100%;
	display: block;
}

.product .title{
	text-align: center;
	font-size: 15px;
	padding: 8px 0;
	font-weight: 600;
	text-transform: uppercase;
}

.product .description{	
	font-size: 12px;
}

.product .price{
	text-align: center;
	font-weight: 600;
	font-size: 17px;
	color: #9b0b03;
	padding-top: 8px;
	font-family: sans-serif;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.product .discount{
		text-align: center;
		font-weight: 600;
		font-size: 10px;
		color: #9b0b03;
		padding-top: 8px;
		font-family: sans-serif;
		text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		text-decoration: line-through;
		transform: rotate(-5deg);
}

.product .cart{
	text-align: center;
	padding: 4px 0;
	background-color: #3e628f;
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin-top: 8px;
}

.product .cart i{
	padding-left: 10px;
}

/*FOOTER*/
footer{
	width: 100%;
	background-color: #323232;
	color: #fff;
	margin-top: 16px;
	padding-bottom: 24px;
}
footer .contact-us{
	display: flex;
	justify-content: space-around;
}
footer h2{
	text-align: center;
	padding-top: 24px;
	margin: 32px 0;
	font-size: 32px;
}
.social{
	display: flex;
	flex-direction: column;
}
.social a{
	margin: 16px 0 0 24px;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}
.social p, .mail p, .map p{
	margin-bottom: 24px;
	font-size: 18px;
}

.form-2{
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.mail{
	width: 24%;
}
input{
	width: 100%;
	padding: 8px;
	outline: none;
	border: none;
	margin-bottom: 0;
	border-radius: 10px;
	background-color: #eeeeee;
}

textarea{
	width: 100%;
	outline: none;
	border:  none;
	background-color: #eeeeee;
}
input[type="submit"]{
	width: 40%;
	background-color: #3e628f;
	cursor: pointer;
	font-size: 18px;
}

footer .copyright{
	text-align: center;
	margin-top: 16px;
	font-size: 20px;
	color:#fff;
}
footer .copyright a{
	color: #fff;
}